.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pyramid {
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 110px;
  -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  /* position:absolute; left:90;top:100px; */
}


.pyramid_section {
  flex: 1 1 100%;
  background-color: rgb(148, 136, 10);
  margin-bottom: 1px;
  position:relative;  top:15px
}

.pyramid_section:nth-of-type(even) {
  background-color:  rgb(148, 136, 10);
  
}

.pyramid_section:hover {
  background-color: rgb(103, 103, 53);
}
a:link{
  text-decoration: none;
  color: black
}
a:visited{
  color: black
}